@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct; 
@using System;
@namespace MyGame
<style>
	.ammo {
		position:absolute;
		bottom:32px;
		right:32px;
		gap:16px;
	} 
	.number {
		font-size: 60px;
		background-color: transparent;
		font-family: Poppins;
		color: white;
	}
	
	.altammonumber {
		font-size: 60px;
		font-weight: 600px;
		background-color: transparent;
		font-family: Poppins;
		color: yellow;
	}
</style>

<root class="ammo">
	@if ((Game.LocalPawn is Player ply) && ply.Inventory.ActiveChild is Weapon wpn ) {
		<div class="number">@wpn.PrimaryAmmo</div>
		<label class="number">/</label>
		<div class="number">@ply.Ammo.AmmoCount(wpn.PrimaryAmmoType)</div>
		<div class="altammonumber">@ply.Ammo.AmmoCount(wpn.SecondaryAmmoType) grenade</div> 
	}  
</root> 

@code {
	protected override int BuildHash()
	{
		var ammo1 = 0;
		var ammo1stash = 0;
		if ((Game.LocalPawn is Player ply) && ply.Inventory.ActiveChild is Weapon wpn ) {
			ammo1 = wpn.PrimaryAmmo;
			ammo1stash = ply.Ammo.AmmoCount(wpn.PrimaryAmmoType);
		}
		return HashCode.Combine((Game.LocalPawn as Player).Inventory.ActiveChild, ammo1, ammo1stash);
	}
}