@using Sandbox;
@using Sandbox.Component;
@using Sandbox.UI;
@using Sandbox.UI.Construct; 
@using System;
@using System.Diagnostics
@using Trace = Sandbox.Trace
@namespace MyGame

@inherits Panel

<style>
	hudhints {
        position: absolute;
        width: 100%;
        height: 100%;
    
        label {
            color: white;
            font-family: Poppins;
            align-items: center;
            
            font-size: 40px;
            top: 2px;
            left: 2px;
            font-weight: 600;
            text-stroke: 4px grey;
        }
    
        InputHint {
            margin-left: 4px;
            margin-right: 4px;
        }
        
                    inputglyph {
                        margin: -7px 0px 5px 2px;
                    }
    
        .pickup {
            position: absolute;
            height: 16px;
            opacity: 0;
            transition: all 0.1s ease;
            transform: translateX(-50%);
    
            &.show {
                opacity: 1;
            }
    
            left: 50%;
            bottom: 20%;
        }
        
        .name {
        	margin-left: 4px;
        }
        
        .reload {
                position: absolute;
                height: 12px;
                opacity: 0;
                transition: all 0.1s ease;
                transform-origin: 0% 50%;
                transform: scaleX( 0 );
        
        
                &.show {
                    transform: scaleX( 1 );
                    opacity: 0.8;
                }
        
                left: 39.8%;
                top: 75%;
                margin-top: -12px;
                margin-left: 40px;
        }
            
        .currentspec {
			position: absolute;	    
            left: 50%;
            padding: 33px;
            bottom: 10%;
			transform: translateX(-50%);
			transform-origin: 0% 0%;
			width: 300px;
			height: 64px;
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 7px;
        }
    }
</style>

<root>
		@if ((Game.LocalPawn is Player ply))
    	{ 
    		if (ply.Components.TryGet<SpectatorComponent>(out var cmp) && cmp.CurrentlySpectating is Player specply && cmp.SpectateMode == SpectatingMode.SpectatePlayer)
    		{
    			<div class="currentspec" @ref="CurrentPlayerSpectated">@specply.Client.Name</div>
    		}
    		else
    		if (ply.TeamName is string team)
    		{
    			<div class="currentspec" @ref="CurrentPlayerSpectated">@team</div>
    		}
	    }
	
		<div class="pickup" @ref="PickupHint">
			<InputGlyph button="use"></InputGlyph>
			<label class="name" @ref="PickupLabel"/>
		</div>

	<div class="reload" @ref="PickupAdvice">
		<label class="name">Right click to break</label>
	</div>
</root>

@code {
	public Panel PickupHint { get; set; }
	public Label PickupLabel { get; set; }
	public Panel CurrentPlayerSpectated { get; set; }
	public Panel PickupAdvice { get; set; }

    private Entity lastObserved;
    protected Entity LastObserved
    {
        get => lastObserved;
        set
        {
            if ( lastObserved != value && lastObserved.IsValid() )
            {
                var glow = lastObserved.Components.Get<Glow>();
                if ( glow != null )
                    glow.Enabled = false;
            }

            lastObserved = value;

            if ( lastObserved.IsValid() )
            {
                var glow = lastObserved.Components.GetOrCreate<Glow>();
                glow.Enabled = true;
                glow.Width = 0.25f;
                glow.Color = Color.FromBytes( 255, 207, 38, 125 );
                glow.ObscuredColor = Color.FromBytes( 255, 207, 38, 5 );
                glow.InsideObscuredColor = Color.FromBytes( 255, 207, 38, 2 );
            }
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Time.Now );
    }

    public override void Tick()
    {
        var player = Game.LocalPawn as Player;
	    

		var tr = Trace.Ray( Camera.Position, Camera.Position + Camera.Rotation.Forward * 100000f )
			.WithAnyTags( "solid", "weapon" )
			.Run();


	    var isUsable = (tr.Hit && tr.Entity is IUse use && use.IsUsable(player) && tr.Distance < 128f || (tr.Entity is Prop && player?.Team is Props && tr.Distance < 115f || tr.Entity is GlassShard));

		LastObserved = isUsable ? tr.Entity : null;
		PickupHint.SetClass( "show", isUsable );
	    
	    //CurrentPlayerSpectated.SetClass("show", player?.Team is Spectator);
	    
		if ( isUsable )
		{
			if ( tr.Entity.IsValid() && tr.Entity is Weapon wpn )
				PickupLabel.Text = wpn.Name;
			else
				PickupLabel.Text = "Use";
		}
	}

}