@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct; 
@using System;
@namespace MyGame
<style>
		.root {
			position: absolute;
			width: 100%;
			justify-content: center;
			pointer-events: none;
		}
	
		.timer {
			bottom: -20px; 
    		flex-direction:column; 
    		//border-radius: 12px;
    		border-top-left-radius: 0px;
    		border-top-right-radius: 0px;
    
    		overflow: hidden;
    		font-family: Poppins-SemiBold;
    		color: white;
    		font-size: 30px;
		}
	
		.time {
    		justify-content: center;
    		align-items: center;
    	}
    	.segtop {
    		justify-content: center;
    		background-color: rgba(32,32,32,0.7);
    		min-width: 310px;
    		font-size: 24px;
    		color: white;
    		padding: 4px; 
    		flex-grow: 1;
    		text-stroke: 4px rgba(64,64,64,0.7);
    	}
</style>

<root class="root">  
	<div class="timer">
		<div class="segtop">Round State</div>
		<div class="time">
			0:00
		</div>
	</div>
</root> 

@code {
	public Panel TimePanel { get; set; }

	/*protected override int BuildHash()
	{ 
		return HashCode.Combine(Math.Round(Game.LocalPawn.Health), Game.LocalPawn.LifeState);
	}*/
}