@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct; 
@using System;
@using System.Collections.Generic;
@using System.Linq;

@inherits Panel;
@namespace MyGame

<style>
	.popup {
		top: 32px;
		left: 32px;
		
		background-color: rgba(26, 26, 26, 0.72);
		backdrop-filter: blur(32px);
		font-family: Poppins;
		flex-direction: column;
		
		border-left-width: 6px;
		border-left: yellow;
		
		transition: all 0.5s;
		
		&:intro {
			left: -1000px;
		}
		&:outro {
			left: -1000px;
		}
	}
	
	.title {
		padding: 8px;
		font-size: 18px;
		background-color: rgba(32, 32, 32, 0.7);
		color: white;
	}
	
	.text { 
    	padding: 8px;
    	font-size: 14px;
    	color: white;
    }
</style>

<root class="popup">
	@if (Title != string.Empty)
	{
		<div class="title">@Title</div>
		<div class="text">@Text</div>
	}
</root>
@code {
	public string Title;
	public string Text;
	public Color TitleColor;
	public float Duration = 8f;
	
	public TimeSince TimeSincePanelCreated = 0f;

	public override void Tick()
	{
		base.Tick();
		if (TimeSincePanelCreated > Duration)
		{
			Delete();
		}
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Title, Text);
	}
}