@using Sandbox
@using System
@using Sandbox.UI

@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="background" />
	<label>Friends Online</label>
	<div style="flex-grow: 1;" />
	<i>people</i>
	<label>@Game.Menu.FriendCount</label>
</root>

@code
{
	protected override int BuildHash()
	{
		return HashCode.Combine( Game.Menu.FriendCount );
	}

	protected override void OnClick( MousePanelEvent e )
	{
		var options = new Sandbox.Modals.FriendsListModalOptions();
		
		Game.Overlay.ShowFriendsList( options );
	}
}
